
@{
    ViewBag.Title = "CancellationConfirmation";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<style>

    .jumbotron {
        display: flex;
        justify-content: center;
        align-items: center;
        color: green;
        font-size: 2rem;
        padding-top: 100px;
    }
</style>

<div class="jumbotron gap-2">
    <i class="fa fa-check pt-2"></i>
    <span class="text-center pt-2">Your booking has successfully cancelled!</span>
</div>

