@{
    ViewBag.Title = "About";
}
<style>
    body {
        background-color: #f7ded0;
    }
</style>
<main aria-labelledby="title">
    <h2 id="title" class="text-center pb-2">@ViewBag.Title.</h2>
    <h3 class="text-center">@ViewBag.Message</h3>

</main>