@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        background-color: #f7ded0;
    }
</style>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <div class="row">
        <div class="col-md-6">
    <address>
        123, Hinjewadi<br />
        Pune, Maharastra<br />
        <abbr title="Phone">Phone:</abbr>
        +91 123456789
    </address>
    </div>
    <div class="col-md-6">
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    </div>
    </div>
</main>